.body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: linear-gradient(116.48deg, #050505 15.65%, #32115a 68.57%);
}

.main {
  margin: 0 auto;
  margin-top: 99px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  width: 100%;
}
