.buyTicketInputs {
  display: flex;
  /* align-items: center; */
}

.rightGridContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.ticketButtonsWrapper {
  display: flex;
  /* margin-top: 10%; */
}

.ticketButtonsWrapper Button {
  min-width: 1px;
  width: 100%;
  /* max-width: 5px; */
}

.rightGridInputs {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.rightGridInputs input::-webkit-outer-spin-button,
.rightGridInputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buyTicketsDialogInfo {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  max-height: 23vh;
  gap: 50px;
}

.eventsInfo {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.presentationInfo {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.info {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 250px;
}