
.header {
  /* overflow: hidden; */
  /* position: fixed; */
  width: 100%;
  /* top: 0; */
  height: 71px;
  font-family: 'Roboto';
  font-size: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #DEC0F7;
}

.logoAndName {
  margin: 10px;
  display: flex;
  align-items: center;
  width: 181.91px;
  height: 50.49px;
}

.projectName {
  position: relative;
  left: 7px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttonsWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 25px;
  padding: 10px 12px;
  width: 260px;
}

.logo {
  background-image: url(./logo.png);
  background: #DEC0F7;
  height: 50px;
  width: 50px;
  border-radius: 15px;
}