.divSearchbarAndItens {
  display: flex;
  position: fixed;
  height: calc(100% - 118px);
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .divSearchbarAndItens {
    width: calc(90% - 240px);
    margin-left: calc(460px - 240px);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  background: linear-gradient(150deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(61, 8, 69, 1) 100%);
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}