.itensBody {
  overflow-y: scroll;
  padding: 3px 15px;
}

.itensBody::-webkit-scrollbar {
  width: 7px;
}

.itensBody::-webkit-scrollbar-thumb {
  background-color: rgb(180, 121, 214);
  border-radius: 25px;
}